mat-sidenav {
  background-color: #131313; 
}


mat-sidenav-container {
  height: 100vh; 
  background: #232323;
}

mat-sidenav {
  height: 100%;
}

/*mat-sidenav-content {
	margin-left: 74px !important;
}
*/